@import url("https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css");

* {
    margin: 10px;
}

main {
    background-color: whitesmoke;
    padding: 10px;

}

footer {
    background-color: rgb(207, 224, 229);
    font-weight: 700;
    padding: 10px;
}

hr {
    border-top: 2px solid orange !important;
}

.div-cotizar {
    background-color: rgb(202, 119, 19);
    font-weight: 800;
    color: whitesmoke;
    margin: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 10px 10px 10px gray;
}

.div-cotizar button {
    background-color: white !important;
    border-color: black !important;
}

.div-cotizar button:active {
    background-color: black !important;
    border-color: white !important;
}